HELP.md
.gradle
build/
generated-sources/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
acceptance-test/logs

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

application-staging.yml
.DS_Store
bin/
./bin

src/main/generated/
